  <body style="background-color: #002b5c; height: 660px;">
      <!-- Header -->
      <div class="container" style="background-color: rgba(0, 0, 0, 0.623);">
        <header class="container" id="header">
          <h1>Bienvenido</h1>
          <p> Consulta estados de nómina y mucho más</p>
        </header>

      <!-- Signup Form -->
        <form id="signup-form"  class="container">
          <input type="email" name="email" id="email" placeholder="Correo electrónico" />
          <input type="password" name="password" id="password" placeholder="Contraseña" />
          <input type="submit" (click)="onClick()" value="Entrar" />
          <br><br>
        </form>
          <p>¿Olvidaste tu contraseña? <a href="recuperarPassword.html">Haz clic aquí</a></p>
  </div>

  </body>

