<!-- Toolbar -->
<header>
  <div class="lead text-center my-2" role="banner">
    <span class="border border-primary rounded-sm p-2">
      Generador Versión 1.0
    </span>
  </div>
</header>
<br><br>

<div class="container-fluid pt-3" role="main">

  <button (click)="exportToExcel()"> Exportar a Excel</button>
  <br><br>
  <!--
  <div class="card">
    <div class="card-header">
      Horarios
    </div>
    <div class="card-body table-responsive">
      <table class="table table-sm table-bordered" #userTable>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Profesor(a)</th>
            <th scope="col">Lunes</th>
            <th scope="col">Martes</th>
            <th scope="col">Miercoles</th>
            <th scope="col">Jueves</th>
            <th scope="col">Viernes</th>
          </tr>
        </thead>
        <tbody class="">
          <tr *ngFor="let user of user">
            <td scope="row">{{ user.nombre }}</td>
            <td>
              <table >
                <tr>
                  <td>{{ user.firstName.uno }}</td>
                  <td>{{ user.firstName.dos }}</td>
                  <td>{{ user.firstName.tres }}</td>
                  <td>{{ user.firstName.cuatro }}</td>
                  <td>{{ user.firstName.cinco}}</td>
                  <td>{{ user.firstName.seis}}</td>
                  <td>{{ user.firstName.siete}}</td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <td>{{ user.firstName.unoa }}</td>
                  <td>{{ user.firstName.dosa }}</td>
                  <td>{{ user.firstName.tresa }}</td>
                  <td>{{ user.firstName.cuatroa }}</td>
                  <td>{{ user.firstName.cincoa}}</td>
                  <td>{{ user.firstName.seisa}}</td>
                  <td>{{ user.firstName.sietea}}</td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <td>{{ user.firstName.unob }}</td>
                  <td>{{ user.firstName.dosb }}</td>
                  <td>{{ user.firstName.tresb }}</td>
                  <td>{{ user.firstName.cuatrob }}</td>
                  <td>{{ user.firstName.cincob}}</td>
                  <td>{{ user.firstName.seisb}}</td>
                  <td>{{ user.firstName.sieteb}}</td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <td>{{ user.firstName.unoc }}</td>
                  <td>{{ user.firstName.dosc }}</td>
                  <td>{{ user.firstName.tresc }}</td>
                  <td>{{ user.firstName.cuatroc }}</td>
                  <td>{{ user.firstName.cincoc}}</td>
                  <td>{{ user.firstName.seisc}}</td>
                  <td>{{ user.firstName.sietec}}</td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <td>{{ user.firstName.unod }}</td>
                  <td>{{ user.firstName.dosd }}</td>
                  <td>{{ user.firstName.tresd }}</td>
                  <td>{{ user.firstName.cuatrod }}</td>
                  <td>{{ user.firstName.cincod}}</td>
                  <td>{{ user.firstName.seisd}}</td>
                  <td>{{ user.firstName.sieted}}</td>
                </tr>
              </table>
            </td>


          </tr>
          <tr>
        </tbody>
      </table>
    </div>
  </div>
-->
  <div class="card">
    <div class="card-header">
      Horarios
    </div>
    <div class="card-body table-responsive">
      <table class="table table table-sm table-bordered">
        <thead>
        </thead>
        <tbody>

          <tr >
            <th scope="row"></th>
            <td colspan="35" style="text-align: center;"><h2>Español</h2></td>
          </tr>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
          </tr>
          <tr >
            <th scope="row"></th>
            <td colspan="7" style="text-align: center;">Lunes</td>
            <td colspan="7" style="text-align: center;">Martes</td>
            <td colspan="7" style="text-align: center;">Miercoles</td>
            <td colspan="7" style="text-align: center;">Jueves</td>
            <td colspan="7" style="text-align: center;">Viernes</td>
          </tr>
          <tr *ngFor="let espa of espanol" >
            <th ><small>{{espa.nombre}}</small></th>
            <td>{{espa.firstName.uno}}</td>
            <td>{{espa.firstName.dos}}</td>
            <td>{{espa.firstName.tres}}</td>
            <td>{{espa.firstName.cuatro}}</td>
            <td>{{espa.firstName.cinco}}</td>
            <td>{{espa.firstName.seis}}</td>
            <td>{{espa.firstName.siete}}</td>
            <td>{{espa.firstName.unoa}}</td>
            <td>{{espa.firstName.dosa}}</td>
            <td>{{espa.firstName.tresa}}</td>
            <td>{{espa.firstName.cuatroa}}</td>
            <td>{{espa.firstName.cincoa}}</td>
            <td>{{espa.firstName.seisa}}</td>
            <td>{{espa.firstName.sietea}}</td>
            <td>{{espa.firstName.unob}}</td>
            <td>{{espa.firstName.dosb}}</td>
            <td>{{espa.firstName.tresb}}</td>
            <td>{{espa.firstName.cuatrob}}</td>
            <td>{{espa.firstName.cincob}}</td>
            <td>{{espa.firstName.seisb}}</td>
            <td>{{espa.firstName.sieteb}}</td>
            <td>{{espa.firstName.unoc}}</td>
            <td>{{espa.firstName.dosc}}</td>
            <td>{{espa.firstName.tresc}}</td>
            <td>{{espa.firstName.cuatroc}}</td>
            <td>{{espa.firstName.cincoc}}</td>
            <td>{{espa.firstName.seisc}}</td>
            <td>{{espa.firstName.sietec}}</td>
            <td>{{espa.firstName.unod}}</td>
            <td>{{espa.firstName.dosd}}</td>
            <td>{{espa.firstName.tresd}}</td>
            <td>{{espa.firstName.cuatrod}}</td>
            <td>{{espa.firstName.cincod}}</td>
            <td>{{espa.firstName.seisd}}</td>
            <td>{{espa.firstName.sieted}}</td>
          </tr>

         <br><br>

          <tr >
            <th scope="row"></th>
            <td colspan="35" style="text-align: center;"><h2>Matematicas</h2></td>
          </tr>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="7" style="text-align: center;">Lunes</td>
            <td colspan="7" style="text-align: center;">Martes</td>
            <td colspan="7" style="text-align: center;">Miercoles</td>
            <td colspan="7" style="text-align: center;">Jueves</td>
            <td colspan="7" style="text-align: center;">Viernes</td>
          </tr>
          <tr *ngFor="let espa of matematicas">
            <th ><small>{{espa.nombre}}</small></th>
            <td>{{espa.firstName.uno}}</td>
            <td>{{espa.firstName.dos}}</td>
            <td>{{espa.firstName.tres}}</td>
            <td>{{espa.firstName.cuatro}}</td>
            <td>{{espa.firstName.cinco}}</td>
            <td>{{espa.firstName.seis}}</td>
            <td>{{espa.firstName.siete}}</td>
            <td>{{espa.firstName.unoa}}</td>
            <td>{{espa.firstName.dosa}}</td>
            <td>{{espa.firstName.tresa}}</td>
            <td>{{espa.firstName.cuatroa}}</td>
            <td>{{espa.firstName.cincoa}}</td>
            <td>{{espa.firstName.seisa}}</td>
            <td>{{espa.firstName.sietea}}</td>
            <td>{{espa.firstName.unob}}</td>
            <td>{{espa.firstName.dosb}}</td>
            <td>{{espa.firstName.tresb}}</td>
            <td>{{espa.firstName.cuatrob}}</td>
            <td>{{espa.firstName.cincob}}</td>
            <td>{{espa.firstName.seisb}}</td>
            <td>{{espa.firstName.sieteb}}</td>
            <td>{{espa.firstName.unoc}}</td>
            <td>{{espa.firstName.dosc}}</td>
            <td>{{espa.firstName.tresc}}</td>
            <td>{{espa.firstName.cuatroc}}</td>
            <td>{{espa.firstName.cincoc}}</td>
            <td>{{espa.firstName.seisc}}</td>
            <td>{{espa.firstName.sietec}}</td>
            <td>{{espa.firstName.unod}}</td>
            <td>{{espa.firstName.dosd}}</td>
            <td>{{espa.firstName.tresd}}</td>
            <td>{{espa.firstName.cuatrod}}</td>
            <td>{{espa.firstName.cincod}}</td>
            <td>{{espa.firstName.seisd}}</td>
            <td>{{espa.firstName.sieted}}</td>
          </tr>

          <br><br>
          <tr>
            <th scope="row"></th>
            <td colspan="35" style="text-align: center;"><h2>Ciencias</h2></td>
          </tr>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="7" style="text-align: center;">Lunes</td>
            <td colspan="7" style="text-align: center;">Martes</td>
            <td colspan="7" style="text-align: center;">Miercoles</td>
            <td colspan="7" style="text-align: center;">Jueves</td>
            <td colspan="7" style="text-align: center;">Viernes</td>
          </tr>
          <tr *ngFor="let espa of ciencias">
            <th ><small>{{espa.nombre}}</small></th>
            <td>{{espa.firstName.uno}}</td>
            <td>{{espa.firstName.dos}}</td>
            <td>{{espa.firstName.tres}}</td>
            <td>{{espa.firstName.cuatro}}</td>
            <td>{{espa.firstName.cinco}}</td>
            <td>{{espa.firstName.seis}}</td>
            <td>{{espa.firstName.siete}}</td>
            <td>{{espa.firstName.unoa}}</td>
            <td>{{espa.firstName.dosa}}</td>
            <td>{{espa.firstName.tresa}}</td>
            <td>{{espa.firstName.cuatroa}}</td>
            <td>{{espa.firstName.cincoa}}</td>
            <td>{{espa.firstName.seisa}}</td>
            <td>{{espa.firstName.sietea}}</td>
            <td>{{espa.firstName.unob}}</td>
            <td>{{espa.firstName.dosb}}</td>
            <td>{{espa.firstName.tresb}}</td>
            <td>{{espa.firstName.cuatrob}}</td>
            <td>{{espa.firstName.cincob}}</td>
            <td>{{espa.firstName.seisb}}</td>
            <td>{{espa.firstName.sieteb}}</td>
            <td>{{espa.firstName.unoc}}</td>
            <td>{{espa.firstName.dosc}}</td>
            <td>{{espa.firstName.tresc}}</td>
            <td>{{espa.firstName.cuatroc}}</td>
            <td>{{espa.firstName.cincoc}}</td>
            <td>{{espa.firstName.seisc}}</td>
            <td>{{espa.firstName.sietec}}</td>
            <td>{{espa.firstName.unod}}</td>
            <td>{{espa.firstName.dosd}}</td>
            <td>{{espa.firstName.tresd}}</td>
            <td>{{espa.firstName.cuatrod}}</td>
            <td>{{espa.firstName.cincod}}</td>
            <td>{{espa.firstName.seisd}}</td>
            <td>{{espa.firstName.sieted}}</td>
          </tr>


          <br><br>
          <tr>
            <th scope="row"></th>
            <td colspan="35" style="text-align: center;"><h2>HISTORIA</h2></td>
          </tr>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="7" style="text-align: center;">Lunes</td>
            <td colspan="7" style="text-align: center;">Martes</td>
            <td colspan="7" style="text-align: center;">Miercoles</td>
            <td colspan="7" style="text-align: center;">Jueves</td>
            <td colspan="7" style="text-align: center;">Viernes</td>
          </tr>
          <tr *ngFor="let espa of historia">
            <th ><small>{{espa.nombre}}</small></th>
            <td>{{espa.firstName.uno}}</td>
            <td>{{espa.firstName.dos}}</td>
            <td>{{espa.firstName.tres}}</td>
            <td>{{espa.firstName.cuatro}}</td>
            <td>{{espa.firstName.cinco}}</td>
            <td>{{espa.firstName.seis}}</td>
            <td>{{espa.firstName.siete}}</td>
            <td>{{espa.firstName.unoa}}</td>
            <td>{{espa.firstName.dosa}}</td>
            <td>{{espa.firstName.tresa}}</td>
            <td>{{espa.firstName.cuatroa}}</td>
            <td>{{espa.firstName.cincoa}}</td>
            <td>{{espa.firstName.seisa}}</td>
            <td>{{espa.firstName.sietea}}</td>
            <td>{{espa.firstName.unob}}</td>
            <td>{{espa.firstName.dosb}}</td>
            <td>{{espa.firstName.tresb}}</td>
            <td>{{espa.firstName.cuatrob}}</td>
            <td>{{espa.firstName.cincob}}</td>
            <td>{{espa.firstName.seisb}}</td>
            <td>{{espa.firstName.sieteb}}</td>
            <td>{{espa.firstName.unoc}}</td>
            <td>{{espa.firstName.dosc}}</td>
            <td>{{espa.firstName.tresc}}</td>
            <td>{{espa.firstName.cuatroc}}</td>
            <td>{{espa.firstName.cincoc}}</td>
            <td>{{espa.firstName.seisc}}</td>
            <td>{{espa.firstName.sietec}}</td>
            <td>{{espa.firstName.unod}}</td>
            <td>{{espa.firstName.dosd}}</td>
            <td>{{espa.firstName.tresd}}</td>
            <td>{{espa.firstName.cuatrod}}</td>
            <td>{{espa.firstName.cincod}}</td>
            <td>{{espa.firstName.seisd}}</td>
            <td>{{espa.firstName.sieted}}</td>
          </tr>


          <br><br>
          <tr>
            <th scope="row"></th>
            <td colspan="35" style="text-align: center;"><h2>Geografia</h2></td>
          </tr>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="7" style="text-align: center;">Lunes</td>
            <td colspan="7" style="text-align: center;">Martes</td>
            <td colspan="7" style="text-align: center;">Miercoles</td>
            <td colspan="7" style="text-align: center;">Jueves</td>
            <td colspan="7" style="text-align: center;">Viernes</td>
          </tr>
          <tr *ngFor="let espa of geografia">
            <th ><small>{{espa.nombre}}</small></th>
            <td>{{espa.firstName.uno}}</td>
            <td>{{espa.firstName.dos}}</td>
            <td>{{espa.firstName.tres}}</td>
            <td>{{espa.firstName.cuatro}}</td>
            <td>{{espa.firstName.cinco}}</td>
            <td>{{espa.firstName.seis}}</td>
            <td>{{espa.firstName.siete}}</td>
            <td>{{espa.firstName.unoa}}</td>
            <td>{{espa.firstName.dosa}}</td>
            <td>{{espa.firstName.tresa}}</td>
            <td>{{espa.firstName.cuatroa}}</td>
            <td>{{espa.firstName.cincoa}}</td>
            <td>{{espa.firstName.seisa}}</td>
            <td>{{espa.firstName.sietea}}</td>
            <td>{{espa.firstName.unob}}</td>
            <td>{{espa.firstName.dosb}}</td>
            <td>{{espa.firstName.tresb}}</td>
            <td>{{espa.firstName.cuatrob}}</td>
            <td>{{espa.firstName.cincob}}</td>
            <td>{{espa.firstName.seisb}}</td>
            <td>{{espa.firstName.sieteb}}</td>
            <td>{{espa.firstName.unoc}}</td>
            <td>{{espa.firstName.dosc}}</td>
            <td>{{espa.firstName.tresc}}</td>
            <td>{{espa.firstName.cuatroc}}</td>
            <td>{{espa.firstName.cincoc}}</td>
            <td>{{espa.firstName.seisc}}</td>
            <td>{{espa.firstName.sietec}}</td>
            <td>{{espa.firstName.unod}}</td>
            <td>{{espa.firstName.dosd}}</td>
            <td>{{espa.firstName.tresd}}</td>
            <td>{{espa.firstName.cuatrod}}</td>
            <td>{{espa.firstName.cincod}}</td>
            <td>{{espa.firstName.seisd}}</td>
            <td>{{espa.firstName.sieted}}</td>
          </tr>

          <br><br>
          <tr>
            <th scope="row"></th>
            <td colspan="35" style="text-align: center;"><h2>Civica y etica</h2></td>
          </tr>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="7" style="text-align: center;">Lunes</td>
            <td colspan="7" style="text-align: center;">Martes</td>
            <td colspan="7" style="text-align: center;">Miercoles</td>
            <td colspan="7" style="text-align: center;">Jueves</td>
            <td colspan="7" style="text-align: center;">Viernes</td>
          </tr>
          <tr *ngFor="let espa of fcye">
            <th ><small>{{espa.nombre}}</small></th>
            <td>{{espa.firstName.uno}}</td>
            <td>{{espa.firstName.dos}}</td>
            <td>{{espa.firstName.tres}}</td>
            <td>{{espa.firstName.cuatro}}</td>
            <td>{{espa.firstName.cinco}}</td>
            <td>{{espa.firstName.seis}}</td>
            <td>{{espa.firstName.siete}}</td>
            <td>{{espa.firstName.unoa}}</td>
            <td>{{espa.firstName.dosa}}</td>
            <td>{{espa.firstName.tresa}}</td>
            <td>{{espa.firstName.cuatroa}}</td>
            <td>{{espa.firstName.cincoa}}</td>
            <td>{{espa.firstName.seisa}}</td>
            <td>{{espa.firstName.sietea}}</td>
            <td>{{espa.firstName.unob}}</td>
            <td>{{espa.firstName.dosb}}</td>
            <td>{{espa.firstName.tresb}}</td>
            <td>{{espa.firstName.cuatrob}}</td>
            <td>{{espa.firstName.cincob}}</td>
            <td>{{espa.firstName.seisb}}</td>
            <td>{{espa.firstName.sieteb}}</td>
            <td>{{espa.firstName.unoc}}</td>
            <td>{{espa.firstName.dosc}}</td>
            <td>{{espa.firstName.tresc}}</td>
            <td>{{espa.firstName.cuatroc}}</td>
            <td>{{espa.firstName.cincoc}}</td>
            <td>{{espa.firstName.seisc}}</td>
            <td>{{espa.firstName.sietec}}</td>
            <td>{{espa.firstName.unod}}</td>
            <td>{{espa.firstName.dosd}}</td>
            <td>{{espa.firstName.tresd}}</td>
            <td>{{espa.firstName.cuatrod}}</td>
            <td>{{espa.firstName.cincod}}</td>
            <td>{{espa.firstName.seisd}}</td>
            <td>{{espa.firstName.sieted}}</td>
          </tr>
          <br><br>
          <tr>
            <th scope="row"></th>
            <td colspan="35" style="text-align: center;"><h2>Ingles</h2></td>
          </tr>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="7" style="text-align: center;">Lunes</td>
            <td colspan="7" style="text-align: center;">Martes</td>
            <td colspan="7" style="text-align: center;">Miercoles</td>
            <td colspan="7" style="text-align: center;">Jueves</td>
            <td colspan="7" style="text-align: center;">Viernes</td>
          </tr>
          <tr *ngFor="let espa of ing">
            <th ><small>{{espa.nombre}}</small></th>
            <td>{{espa.firstName.uno}}</td>
            <td>{{espa.firstName.dos}}</td>
            <td>{{espa.firstName.tres}}</td>
            <td>{{espa.firstName.cuatro}}</td>
            <td>{{espa.firstName.cinco}}</td>
            <td>{{espa.firstName.seis}}</td>
            <td>{{espa.firstName.siete}}</td>
            <td>{{espa.firstName.unoa}}</td>
            <td>{{espa.firstName.dosa}}</td>
            <td>{{espa.firstName.tresa}}</td>
            <td>{{espa.firstName.cuatroa}}</td>
            <td>{{espa.firstName.cincoa}}</td>
            <td>{{espa.firstName.seisa}}</td>
            <td>{{espa.firstName.sietea}}</td>
            <td>{{espa.firstName.unob}}</td>
            <td>{{espa.firstName.dosb}}</td>
            <td>{{espa.firstName.tresb}}</td>
            <td>{{espa.firstName.cuatrob}}</td>
            <td>{{espa.firstName.cincob}}</td>
            <td>{{espa.firstName.seisb}}</td>
            <td>{{espa.firstName.sieteb}}</td>
            <td>{{espa.firstName.unoc}}</td>
            <td>{{espa.firstName.dosc}}</td>
            <td>{{espa.firstName.tresc}}</td>
            <td>{{espa.firstName.cuatroc}}</td>
            <td>{{espa.firstName.cincoc}}</td>
            <td>{{espa.firstName.seisc}}</td>
            <td>{{espa.firstName.sietec}}</td>
            <td>{{espa.firstName.unod}}</td>
            <td>{{espa.firstName.dosd}}</td>
            <td>{{espa.firstName.tresd}}</td>
            <td>{{espa.firstName.cuatrod}}</td>
            <td>{{espa.firstName.cincod}}</td>
            <td>{{espa.firstName.seisd}}</td>
            <td>{{espa.firstName.sieted}}</td>
          </tr>

          <br><br>
          <tr>
            <th scope="row"></th>
            <td colspan="35" style="text-align: center;"><h2>Musica</h2></td>
          </tr>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="7" style="text-align: center;">Lunes</td>
            <td colspan="7" style="text-align: center;">Martes</td>
            <td colspan="7" style="text-align: center;">Miercoles</td>
            <td colspan="7" style="text-align: center;">Jueves</td>
            <td colspan="7" style="text-align: center;">Viernes</td>
          </tr>
          <tr *ngFor="let espa of music">
            <th ><small>{{espa.nombre}}</small></th>
            <td>{{espa.firstName.uno}}</td>
            <td>{{espa.firstName.dos}}</td>
            <td>{{espa.firstName.tres}}</td>
            <td>{{espa.firstName.cuatro}}</td>
            <td>{{espa.firstName.cinco}}</td>
            <td>{{espa.firstName.seis}}</td>
            <td>{{espa.firstName.siete}}</td>
            <td>{{espa.firstName.unoa}}</td>
            <td>{{espa.firstName.dosa}}</td>
            <td>{{espa.firstName.tresa}}</td>
            <td>{{espa.firstName.cuatroa}}</td>
            <td>{{espa.firstName.cincoa}}</td>
            <td>{{espa.firstName.seisa}}</td>
            <td>{{espa.firstName.sietea}}</td>
            <td>{{espa.firstName.unob}}</td>
            <td>{{espa.firstName.dosb}}</td>
            <td>{{espa.firstName.tresb}}</td>
            <td>{{espa.firstName.cuatrob}}</td>
            <td>{{espa.firstName.cincob}}</td>
            <td>{{espa.firstName.seisb}}</td>
            <td>{{espa.firstName.sieteb}}</td>
            <td>{{espa.firstName.unoc}}</td>
            <td>{{espa.firstName.dosc}}</td>
            <td>{{espa.firstName.tresc}}</td>
            <td>{{espa.firstName.cuatroc}}</td>
            <td>{{espa.firstName.cincoc}}</td>
            <td>{{espa.firstName.seisc}}</td>
            <td>{{espa.firstName.sietec}}</td>
            <td>{{espa.firstName.unod}}</td>
            <td>{{espa.firstName.dosd}}</td>
            <td>{{espa.firstName.tresd}}</td>
            <td>{{espa.firstName.cuatrod}}</td>
            <td>{{espa.firstName.cincod}}</td>
            <td>{{espa.firstName.seisd}}</td>
            <td>{{espa.firstName.sieted}}</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="35" style="text-align: center;"><h2>Educacion fisica</h2></td>
          </tr>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="7" style="text-align: center;">Lunes</td>
            <td colspan="7" style="text-align: center;">Martes</td>
            <td colspan="7" style="text-align: center;">Miercoles</td>
            <td colspan="7" style="text-align: center;">Jueves</td>
            <td colspan="7" style="text-align: center;">Viernes</td>
          </tr>
          <tr *ngFor="let espa of ef">
            <th ><small>{{espa.nombre}}</small></th>
            <td>{{espa.firstName.uno}}</td>
            <td>{{espa.firstName.dos}}</td>
            <td>{{espa.firstName.tres}}</td>
            <td>{{espa.firstName.cuatro}}</td>
            <td>{{espa.firstName.cinco}}</td>
            <td>{{espa.firstName.seis}}</td>
            <td>{{espa.firstName.siete}}</td>
            <td>{{espa.firstName.unoa}}</td>
            <td>{{espa.firstName.dosa}}</td>
            <td>{{espa.firstName.tresa}}</td>
            <td>{{espa.firstName.cuatroa}}</td>
            <td>{{espa.firstName.cincoa}}</td>
            <td>{{espa.firstName.seisa}}</td>
            <td>{{espa.firstName.sietea}}</td>
            <td>{{espa.firstName.unob}}</td>
            <td>{{espa.firstName.dosb}}</td>
            <td>{{espa.firstName.tresb}}</td>
            <td>{{espa.firstName.cuatrob}}</td>
            <td>{{espa.firstName.cincob}}</td>
            <td>{{espa.firstName.seisb}}</td>
            <td>{{espa.firstName.sieteb}}</td>
            <td>{{espa.firstName.unoc}}</td>
            <td>{{espa.firstName.dosc}}</td>
            <td>{{espa.firstName.tresc}}</td>
            <td>{{espa.firstName.cuatroc}}</td>
            <td>{{espa.firstName.cincoc}}</td>
            <td>{{espa.firstName.seisc}}</td>
            <td>{{espa.firstName.sietec}}</td>
            <td>{{espa.firstName.unod}}</td>
            <td>{{espa.firstName.dosd}}</td>
            <td>{{espa.firstName.tresd}}</td>
            <td>{{espa.firstName.cuatrod}}</td>
            <td>{{espa.firstName.cincod}}</td>
            <td>{{espa.firstName.seisd}}</td>
            <td>{{espa.firstName.sieted}}</td>
          </tr>
          <br><br>
          <tr>
            <th scope="row"></th>
            <td colspan="35" style="text-align: center;"><h2>Vida saludable</h2></td>
          </tr>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
            <th scope="col" *ngFor="let item of [1,2,3,4,5,6,7]; let i = index ">{{i+1}}</th>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="7" style="text-align: center;">Lunes</td>
            <td colspan="7" style="text-align: center;">Martes</td>
            <td colspan="7" style="text-align: center;">Miercoles</td>
            <td colspan="7" style="text-align: center;">Jueves</td>
            <td colspan="7" style="text-align: center;">Viernes</td>
          </tr>
          <tr *ngFor="let espa of vs">
            <th ><small>{{espa.nombre}}</small></th>
            <td>{{espa.firstName.uno}}</td>
            <td>{{espa.firstName.dos}}</td>
            <td>{{espa.firstName.tres}}</td>
            <td>{{espa.firstName.cuatro}}</td>
            <td>{{espa.firstName.cinco}}</td>
            <td>{{espa.firstName.seis}}</td>
            <td>{{espa.firstName.siete}}</td>
            <td>{{espa.firstName.unoa}}</td>
            <td>{{espa.firstName.dosa}}</td>
            <td>{{espa.firstName.tresa}}</td>
            <td>{{espa.firstName.cuatroa}}</td>
            <td>{{espa.firstName.cincoa}}</td>
            <td>{{espa.firstName.seisa}}</td>
            <td>{{espa.firstName.sietea}}</td>
            <td>{{espa.firstName.unob}}</td>
            <td>{{espa.firstName.dosb}}</td>
            <td>{{espa.firstName.tresb}}</td>
            <td>{{espa.firstName.cuatrob}}</td>
            <td>{{espa.firstName.cincob}}</td>
            <td>{{espa.firstName.seisb}}</td>
            <td>{{espa.firstName.sieteb}}</td>
            <td>{{espa.firstName.unoc}}</td>
            <td>{{espa.firstName.dosc}}</td>
            <td>{{espa.firstName.tresc}}</td>
            <td>{{espa.firstName.cuatroc}}</td>
            <td>{{espa.firstName.cincoc}}</td>
            <td>{{espa.firstName.seisc}}</td>
            <td>{{espa.firstName.sietec}}</td>
            <td>{{espa.firstName.unod}}</td>
            <td>{{espa.firstName.dosd}}</td>
            <td>{{espa.firstName.tresd}}</td>
            <td>{{espa.firstName.cuatrod}}</td>
            <td>{{espa.firstName.cincod}}</td>
            <td>{{espa.firstName.seisd}}</td>
            <td>{{espa.firstName.sieted}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>



  <!-- Footer -->
  <footer>
  </footer>

</div>


