<header>
  <div class="lead text-center my-2" role="banner">
    <span class="border border-primary rounded-sm p-2">
      Grupos
    </span>
  </div>
</header>
<br><br>

<form>
  <select #t (change)="callType(t.value)"  class="form-select" aria-label="Default select example">
    <option selected value="0">Selecciona a tu Grupo</option>
    <option [value]="grupo" *ngFor="let grupo of grupos; let i = index">{{grupo}}</option>
  </select>
</form>

<p [hidden]="opcionSeleccionado == '0'">Haz seleccionado la opción # {{ verSeleccion }}</p>

<div *ngFor="let grupo of tablaGrupos; let i = index">
  <table *ngIf="control === grupo['id']"  class="table table-striped mt-5 table-bordered">
    <thead>
      <tr>
        <th scope="col">{{grupo["id"]}}</th>
        <th scope="col">Lunes</th>
        <th scope="col">Martes</th>
        <th scope="col">Miercoles</th>
        <th scope="col">Jueves</th>
        <th scope="col">Viernes</th>
      </tr>
    </thead>
    <tbody>

      <tr  >
        <th scope="row">7:30 - 8:20</th>
        <td >{{tablaGrupos[i]['lunes'][0]}}</td>
        <td>{{tablaGrupos[i]['martes'][0]}}</td>
        <td>{{tablaGrupos[i]['miercoles'][0]}}</td>
        <td>{{tablaGrupos[i]['jueves'][0]}}</td>
        <td>{{tablaGrupos[i]['viernes'][0]}}</td>
      </tr>
      <tr  >
        <th scope="row">8:20 - 9:10</th>
        <td >{{tablaGrupos[i]['lunes'][1]}}</td>
        <td>{{tablaGrupos[i]['martes'][1]}}</td>
        <td>{{tablaGrupos[i]['miercoles'][1]}}</td>
        <td>{{tablaGrupos[i]['jueves'][1]}}</td>
        <td>{{tablaGrupos[i]['viernes'][1]}}</td>
      </tr>
      <tr  >
        <th scope="row">9:10 - 10:00</th>
        <td >{{tablaGrupos[i]['lunes'][2]}}</td>
        <td>{{tablaGrupos[i]['martes'][2]}}</td>
        <td>{{tablaGrupos[i]['miercoles'][2]}}</td>
        <td>{{tablaGrupos[i]['jueves'][2]}}</td>
        <td>{{tablaGrupos[i]['viernes'][2]}}</td>
      </tr>
      <tr  >
        <th scope="row">10:00 - 10:50</th>
        <td >{{tablaGrupos[i]['lunes'][3]}}</td>
        <td>{{tablaGrupos[i]['martes'][3]}}</td>
        <td>{{tablaGrupos[i]['miercoles'][3]}}</td>
        <td>{{tablaGrupos[i]['jueves'][3]}}</td>
        <td>{{tablaGrupos[i]['viernes'][3]}}</td>
      </tr>
      <tr  >
        <th scope="row">RECESO</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr  >
        <th scope="row">11:10 - 12:00</th>
        <td >{{tablaGrupos[i]['lunes'][4]}}</td>
        <td>{{tablaGrupos[i]['martes'][4]}}</td>
        <td>{{tablaGrupos[i]['miercoles'][4]}}</td>
        <td>{{tablaGrupos[i]['jueves'][4]}}</td>
        <td>{{tablaGrupos[i]['viernes'][4]}}</td>
      </tr>
      <tr  >
        <th scope="row">12:00 - 12:50</th>
        <td >{{tablaGrupos[i]['lunes'][5]}}</td>
        <td>{{tablaGrupos[i]['martes'][5]}}</td>
        <td>{{tablaGrupos[i]['miercoles'][5]}}</td>
        <td>{{tablaGrupos[i]['jueves'][5]}}</td>
        <td>{{tablaGrupos[i]['viernes'][5]}}</td>
      </tr>
      <tr  >
        <th scope="row">12:50 - 13:40</th>
        <td >{{tablaGrupos[i]['lunes'][6]}}</td>
        <td>{{tablaGrupos[i]['martes'][6]}}</td>
        <td>{{tablaGrupos[i]['miercoles'][6]}}</td>
        <td>{{tablaGrupos[i]['jueves'][6]}}</td>
        <td>{{tablaGrupos[i]['viernes'][6]}}</td>
      </tr>

    </tbody>
    </table>




</div>






