<header>
  <div class="lead text-center my-2" role="banner">
    <span class="border border-primary rounded-sm p-2">
      Grupos
    </span>
  </div>
</header>
<br><br>


<form>
  <select class="form-select" aria-label="Default select example">
    <option selected >Selecciona a tu Grupo</option>
    <option [value]="i+1" *ngFor="let grupo of grupos; let i = index">{{grupo}}</option>
  </select>
</form>



<table class="table table-striped mt-5 table-bordered">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Lunes</th>
      <th scope="col">Martes</th>
      <th scope="col">Miercoles</th>
      <th scope="col">Jueves</th>
      <th scope="col">Viernes</th>
    </tr>
  </thead>
  <tbody>
    <tr  >
      <th scope="row">7:30 - 8:20</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr  >
      <th scope="row">8:20 - 9:10</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr  >
      <th scope="row">9:10 - 10:00</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr  >
      <th scope="row">10:00 - 10:50</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr  >
      <th scope="row">RECESO</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr  >
      <th scope="row">11:10 - 12:00</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr  >
      <th scope="row">12:00 - 12:50</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr  >
      <th scope="row">12:50 - 13:40</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

  </tbody>





