<div class="container">
  <p class="text-center">Grupo por profesor</p>
  <div class="row">
    <div class="col-6">
      Profesor: {{infoProfe.nombre}}
    </div>
    <div class="col-6">
      Horas: {{infoProfe.horas}}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-4">
      Asignatura: {{infoProfe.asignatura}}
    </div>
    <div class="col-4">
      Asignatura Dos: {{infoProfe.asignaturaDos}}
    </div>
    <div class="col-4">
      Preferencia: {{infoProfe.preferencia}}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-6">
      Tutoria: {{tutoria}}
    </div>
    <div class="col-6">
      SE: {{servicio}}
    </div>
  </div>

</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
<table class="table table-striped mt-5 table-bordered table-responsive">
  <thead>
    <tr>
      <th scope="col">Horas</th>
      <th scope="col">Lunes</th>
      <th scope="col">Martes</th>
      <th scope="col">Miercoles</th>
      <th scope="col">Jueves</th>
      <th scope="col">Viernes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">7:30 - 8:20</th>
      <td>{{lunes[0] || null}}</td>
      <td>{{martes[0] || null}}</td>
      <td>{{miercoles[0] || null}}</td>
      <td>{{jueves[0] || null}}</td>
      <td>{{viernes[0] || null}}</td>
    </tr>
    <tr>
      <th scope="row">8:20 - 9:10</th>
      <td>{{lunes[1] || null}}</td>
      <td>{{martes[1] || null}}</td>
      <td>{{miercoles[1] || null}}</td>
      <td>{{jueves[1] || null}}</td>
      <td>{{viernes[1] || null}}</td>
    </tr>
    <tr>
      <th scope="row">9:10 - 10:00</th>
      <td>{{lunes[2] || null}}</td>
      <td>{{martes[2] || null}}</td>
      <td>{{miercoles[2] || null}}</td>
      <td>{{jueves[2] || null}}</td>
      <td>{{viernes[2] || null}}</td>
    </tr><tr>
      <th scope="row">10:00 - 10:50</th>
      <td>{{lunes[3] || null}}</td>
      <td>{{martes[3] || null}}</td>
      <td>{{miercoles[3] || null}}</td>
      <td>{{jueves[3] || null}}</td>
      <td>{{viernes[3] || null}}</td>
    </tr><tr  >
      <th scope="row">RECESO</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr  >
      <th scope="row">11:10 - 12:00</th>
      <td>{{lunes[4] || null}}</td>
      <td>{{martes[4] || null}}</td>
      <td>{{miercoles[4] || null}}</td>
      <td>{{jueves[4] || null}}</td>
      <td>{{viernes[4] || null}}</td>
    </tr>
    <tr  >
      <th scope="row">12:00 - 12:50</th>
      <td>{{lunes[5] || null}}</td>
      <td>{{martes[5] || null}}</td>
      <td>{{miercoles[5] || null}}</td>
      <td>{{jueves[5] || null}}</td>
      <td>{{viernes[5] || null}}</td>
    </tr>
    <tr  >
      <th scope="row">12:50 - 13:40</th>
      <td>{{lunes[6] || null}}</td>
      <td>{{martes[6] || null}}</td>
      <td>{{miercoles[6] || null}}</td>
      <td>{{jueves[6] || null}}</td>
      <td>{{viernes[6] || null}}</td>
    </tr>

  </tbody>
</table>

</div>
