<header>
  <div class="lead text-center my-2" role="banner">
    <span class="border border-primary rounded-sm p-2">
      {{titulo}}
    </span>
  </div>
</header>
<div class="padre" *ngIf="loaading">
  <div class="spinner-border "role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!loaading" class="m-5 containser">
  <form [formGroup]="registro" (ngSubmit)="reg()" autocomplete="off">
    <div class="container">
      <p>Coloque al profesor para añadirlo a la lista de horarios.</p>
      <br>
      <mat-form-field class="example-full-width m-1" appearance="fill" >
        <mat-label>Nombre del Profesor</mat-label>
        <input formControlName="nombre" type="text" matInput placeholder="Nombre del Profesor">
        <mat-error *ngIf="registro.hasError('nombre') && !registro.hasError('required')">
          El nombre es invalido
        </mat-error>
        <mat-error *ngIf="registro.hasError('required')">
          Nombre es <strong>Requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width m-1" appearance="fill" >
        <mat-label>Numero de Horas</mat-label>
        <input formControlName="horas" type="number" matInput placeholder="Numero de Horas">
        <mat-error *ngIf="registro.hasError('horas') && !registro.hasError('required')">
          El nombre es invalido
        </mat-error>
        <mat-error *ngIf="registro.hasError('required')">
          Nombre es <strong>Requerido</strong>
        </mat-error>
      </mat-form-field>



      <mat-form-field class="m-2">
        <mat-select formControlName="asignatura" placeholder="Asignaturas" name="operacion">
          <mat-option *ngFor="let op of listaAsignatura" [value]="op">
            {{op}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <br>
      <button mat-button  type="submit" [disabled]="registro.invalid">Añadir</button>
      <button mat-button routerLink="/profesores"  class="float-end">Cancelar</button>
    </div>
  </form>
</div>

