table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.padre {
  background-color: #fafafa;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid rgb(255, 255, 255);
  /* IMPORTANTE */
  text-align: center;
}
